body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

.danger {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
}